@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// MEDIA QUERY MIXIN
@mixin respond($device) {
    @if $device == phone {
        // 600px === 37.5em
        @media only screen and (max-width: 37.5em) {
            @content;
        }
    }
    @if $device == tab-port {
        // 900px === 52.25em
        @media only screen and (max-width: 52.25em) {
            @content;
        }
    }
    @if $device == tab-land {
        // 1200px === 75em
        @media only screen and (max-width: 75em) {
            @content;
        }
    }
    @if $device == big-desktop {
        // 1800px === 112.5em
        @media only screen and (min-width: 112.5em) {
            @content;
        }
    }
}
